<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated HMIModificationmarks -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="edu.kit.ipd.sdq.kamp4hmi.model.HMIModificationmarks.presentation.HMIModificationmarksModelWizardID"
            name="%_UI_HMIModificationmarksModelWizard_label"
            class="edu.kit.ipd.sdq.kamp4hmi.model.HMIModificationmarks.presentation.HMIModificationmarksModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/HMIModificationmarksModelFile.gif">
         <description>%_UI_HMIModificationmarksModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated HMIModificationmarks -->
      <editor
            id="edu.kit.ipd.sdq.kamp4hmi.model.HMIModificationmarks.presentation.HMIModificationmarksEditorID"
            name="%_UI_HMIModificationmarksEditor_label"
            icon="icons/full/obj16/HMIModificationmarksModelFile.gif"
            extensions="hmimodificationmarks"
            class="edu.kit.ipd.sdq.kamp4hmi.model.HMIModificationmarks.presentation.HMIModificationmarksEditor"
            contributorClass="edu.kit.ipd.sdq.kamp4hmi.model.HMIModificationmarks.presentation.HMIModificationmarksActionBarContributor">
      </editor>
   </extension>

</plugin>
